@charset "utf-8";

body{
    background: #fafafa;
}

.logbtn{
    background:#0095f6;
    color:white;
    border: 1px solid #0095f6;
}

.wrap{
    width: 369px;
    height: 330px;
    background: #fff;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

.logo{
    padding: 15px 15px 15px 15px;
}